@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100dvw;
    height: 100dvh;
}

div[data-error="true"] {
    animation: shake 100ms linear;
}

@keyframes shake {
    from {
        rotate: 2deg;
    }
    to {
        rotate: -2deg;
    }
}